@mixin border-radius() {
  border-radius: $border-radius;
}

@mixin double-border-radius() {
  border-radius: $border-radius * 2;
}

@mixin top-border-radius() {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

@mixin bottom-border-radius() {
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}
