@mixin theme-vars($theme-map) {
  --font-color: #{map-get($theme-map, font-color)};
  --color-primary: #{map-get($theme-map, color-primary)};
  --color-secondary: #{map-get($theme-map, color-secondary)};
  --color-tertiary: #{map-get($theme-map, color-tertiary)};
  --background-color: #{map-get($theme-map, background-color)};
  --button-colored: #{map-get($theme-map, button-colored)};
  --button-colored-hover: #{map-get($theme-map, button-colored-hover)};
  --button-neutral: #{map-get($theme-map, button-neutral)};
  --button-neutral-hover: #{map-get($theme-map, button-neutral-hover)};
  --button-danger: #{map-get($theme-map, button-danger)};
  --button-danger-hover: #{map-get($theme-map, button-danger-hover)};
}
