@mixin theme-vars($theme-map) {
  --font-color: #{map-get($theme-map, font-color)};
  --color-primary: #{map-get($theme-map, color-primary)};
  --color-secondary: #{map-get($theme-map, color-secondary)};
  --color-content-container-shadow: #{map-get(
      $theme-map,
      color-content-container-shadow
    )};
  --background-overlay: #{map-get($theme-map, background-overlay)};
}

@function get-theme-transition($properties) {
  $transition-property: "";
  @each $property in $properties {
    $transition-property: $transition-property +
      if(str-length($transition-property) > 0, ", ", "") +
      #{$property
      100ms
      linear};
  }
  @return unquote($transition-property);
}

@mixin theme-transition($properties) {
  transition: get-theme-transition($properties);
}
