.u-text-left {
  text-align: left !important;
}

.u-text-center {
  text-align: center !important;
}

.u-text-right {
  text-align: right !important;
}

.u-text-uppercase {
  text-transform: uppercase !important;
}

.u-text-white-space-nowrap {
  white-space: nowrap;
}

.u-text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.u-text-normal {
  font-weight: normal !important;
}

.u-text-bold {
  font-weight: bold !important;
}

.u-text-brand-gradient {
  @include brand-gradient-text();
}

.u-text-small {
  font-size: 0.75em;
}
