.u-text-center {
  text-align: center !important;
}

.u-text-uppercase {
  text-transform: uppercase !important;
}

.u-text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
