.c-input {
  position: relative;
  color: var(--font-color);
}

.c-input__field {
  color: inherit;
  display: block;
  width: 100%;
  background: var(--color-primary);
  border: none;
  padding: 1rem;
  font-size: 0.8em;
  outline: none;
  @include short-transition(box-shadow);

  &::placeholder {
    color: var(--color-tertiary);
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px $color-focus inset;
  }

  &--with-left-icon {
    padding-left: 3rem;
  }

  &--with-right-icon {
    padding-right: 3rem;
  }
}

.c-input__left-icon,
.c-input__right-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-tertiary);

  & > *,
  & > div > * {
    display: block;
    line-height: 1;
  }
}

.c-input__left-icon {
  left: 1em;
}

.c-input__right-icon {
  right: 1em;
  width: 1em;
  text-align: center;
}

.c-input__clear-text-icon {
  @include focus-outline();
  font-size: 0.75em;
  cursor: pointer;
}
