.c-button {
  @include short-shadow();
  @include border-radius();
  @include focus-outline();
  @include short-transition(color border-color background-color outline);
  color: var(--button-neutral);
  background: transparent;
  padding: $button-tb-padding $button-lr-padding;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid var(--button-neutral);
  cursor: pointer;
  position: relative;
  display: block;
  width: 100%;

  @include mq($from: m) {
    width: auto;
    display: inline-block;
  }

  & + & {
    margin-top: 0.5em;

    @include mq($from: m) {
      margin-top: 0;
      margin-left: 0.5em;
    }
  }

  &:not([disabled]):hover {
    color: var(--button-neutral-hover);
    border-color: var(--button-neutral-hover);
  }

  &:active {
    top: 1px;
    box-shadow: none;
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.c-button--primary {
  border: none;
  padding-top: calc(#{$button-tb-padding} + 2px);
  padding-bottom: calc(#{$button-tb-padding} + 2px);
  background: var(--button-colored);
  color: $color-primary-light;

  &:not([disabled]):hover {
    color: $color-primary-light;
    background: var(--button-colored-hover);
  }
}

.c-button--secondary {
  z-index: 0;

  & .c-button__content {
    background: var(--button-colored);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: var(--button-colored);
  }

  &:after {
    @include short-transition(background-color);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -2px;
    border-radius: inherit;
    background: var(--color-primary);
    background-clip: padding-box;
    border: 2px solid transparent;
    z-index: -1;
  }

  &:not([disabled]):hover {
    &:before {
      background: var(--button-colored-hover);
    }

    & .c-button__content {
      background-image: var(--button-colored-hover);
    }
  }

  &.c-button--alt-background {
    &:after {
      background-color: var(--color-secondary);
    }
  }
}

.c-button--inline {
  display: inline-block;
  width: auto;

  .c-button + & {
    margin-top: 0;
  }

  & + & {
    margin-left: 0.5em;
  }
}

.c-button--icon-only {
  padding-left: $button-icon-only-lr-padding;
  padding-right: $button-icon-only-lr-padding;
}

.c-button__content {
  font-size: 0.8em;
  display: inline-flex;
  align-items: center;
}

.c-button__text {
  .c-button__icon + & {
    margin-left: 0.75em;
  }
}

.c-button__wallet-icon {
  vertical-align: text-bottom;
  fill: var(--button-neutral);
  stroke: var(--button-neutral);
  @include short-transition(fill stroke);

  .c-button--primary & {
    fill: $color-primary-light;
    stroke: $color-primary-light;
  }
}
