.c-modal-container {
  position: relative;
  margin: auto;
  background: var(--color-primary);
  outline: none;
  @include border-radius();
  @include short-shadow();

  &--enter {
    opacity: 0;
    transform: translateY(-2em);
    @include short-transition(opacity transform);
    transition-delay: 200ms;
    transition-timing-function: ease-in;
  }

  &--enter-active {
    opacity: 1;
    transform: translateY(0);
  }
}

.c-modal-container__content {
  padding: 3em;
}

.c-modal-container__close {
  border-radius: 50%;
  position: absolute;
  top: -1.375rem;
  right: -1.375rem;
  cursor: pointer;
  background: var(--color-primary);
  display: flex;
  padding: 0.75rem;
  border: 2px solid var(--color-secondary);
  @include focus-outline();
}

.c-modal-container__close-icon {
  display: flex;
  @include brand-gradient-text();
}
