.c-demo-progress {
  position: relative;
}

.c-demo-progress--highlight {
  &:before {
    display: block;
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    margin-top: -37.5px;
    margin-left: -37.5px;
    pointer-events: none;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: $color-brand-secondary;
    animation: highlight-scale 3000ms ease-out infinite;
    transform-origin: center;

    @include mq($from: m) {
      width: 150px;
      height: 150px;
      margin-top: -75px;
      margin-left: -75px;
    }

    @include mq($from: l) {
      width: 200px;
      height: 200px;
      margin-top: -100px;
      margin-left: -100px;
    }

    @keyframes highlight-scale {
      0% {
        transform: scale(0);
        opacity: 0.7;
      }
      30% {
        transform: scale(0);
        opacity: 0.7;
      }

      70% {
        transform: scale(1);
        opacity: 0;
      }

      100% {
        transform: scale(1);
        opacity: 0;
      }
    }
  }
}
