.c-background {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &:before,
  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include short-transition(background-color);
  }

  &:before {
    background: var(--color-secondary);
  }

  &:after {
    background: var(--background-overlay);
  }
}
