.c-radios {
  display: flex;
  flex-direction: column;
}

.c-radios--inline {
  flex-direction: row;
  flex-wrap: wrap;
}

.c-radios__option {
  &:last-child {
    margin-bottom: 0;
  }
}

.c-radios__option--inline {
  margin-bottom: none;
  margin-right: $inuit-global-spacing-unit;

  &:last-child {
    margin-right: 0;
  }
}

.c-radios__label {
  display: flex;
  align-items: center;
  min-width: 0;
}

.c-radios__input {
  appearance: none;
  width: 1.1em;
  height: 1.1em;
  min-width: 1.1em;
  outline: none;
  border-radius: 50%;
  @include short-transition(box-shadow);
  box-shadow: 0px 0px 0px 1px var(--color-tertiary) inset;
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 1px;
    top: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background: $color-focus;
    border-radius: 50%;
    @include short-transition(transform);
    transform: scale(0);
  }

  &:checked:before {
    transform: scale(0.6);
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px $color-focus inset;
  }
}

.c-radios__label-text {
  margin-left: $inuit-global-spacing-unit-small;
}
