.c-modal-create-new-order__background {
  &:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url("/images/trade.png") no-repeat 40% 80%;
    opacity: 0.3;
    filter: blur(1px);

    .g-theme--dark & {
      opacity: 0.1;
    }
  }
}

.c-modal-create-new-order__foreground {
  position: relative;
}

.c-modal-create-new-order__form {
  max-width: 25em;
}
