.c-link {
  color: $color-brand-primary;
  text-decoration: none;
  @include focus-outline();
  @include short-transition(color outline);

  &:hover {
    text-decoration: underline;
  }
}

.c-link--info-alert {
  color: darken($color-info, 30%);
  font-weight: bold;
}
