.c-navigation {
  list-style: none;
  margin: 4em 1em;

  @include mq($from: l) {
    margin: 4em 3em;
  }
}

.c-navigation__item {
  margin-bottom: 0.5em;

  &:last-child {
    margin-bottom: 0;
  }
}
