.c-modal-wrapper {
  position: fixed;
  z-index: $z-index-modal;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 1.875em;
  display: flex;
  animation: modal-wrapper-enter 100ms linear both;

  @keyframes modal-wrapper-enter {
    from {
      background: transparent;
    }

    to {
      background: rgba(0, 0, 0, 0.5);
    }
  }

  @include mq($from: m) {
    padding: 3em;
  }

  @include mq($from: xl) {
    padding: 5em;
  }
}
