.c-balance {
  display: inline-flex;
  align-items: center;
  position: relative;
  @include border-radius();
  z-index: 0;
  padding: calc(#{$button-tb-padding} + #{$button-border-width})
    calc(#{$button-lr-padding} + #{$button-border-width});
  line-height: 1;

  &:before,
  &:after {
    border-radius: inherit;
    position: absolute;
    content: "";
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &:before {
    background: var(--button-colored);
  }

  &:after {
    @include short-transition(background-color);
    background: var(--color-secondary);
    border: #{$button-border-width} solid transparent;
    background-clip: padding-box;
  }
}

.c-balance__content {
  line-height: 1;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  @include brand-gradient-text();
}

.c-balance__divider {
  margin: 0 0.5em;
}

.c-balance__address {
  cursor: pointer;
  border: none;
  padding: 0;
  font-weight: bold;
  @include focus-outline();
  @include short-transition(color background-color);
  background: transparent;
}
