.c-nav-link {
  display: block;
  padding: 0.5em 1em;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-tertiary);
  @include border-radius();
  @include focus-outline();
  @include short-transition(color background-color outline);

  &:hover {
    color: $color-brand-primary;
  }
}

.c-nav-link--active {
  color: $color-brand-primary;
  background: transparentize($color-brand-primary, 0.9);
}

.c-nav-link__text {
  display: none;

  @include mq($from: l) {
    margin-left: 1em;
    display: inline;
  }
}
