.c-step {
  list-style: none;
  margin-bottom: $inuit-global-spacing-unit;
  display: flex;
  align-items: center;
  @include short-transition(opacity);
}

.c-step--locked {
  opacity: 0.5;
}

.c-step__icon {
  position: relative;
  min-width: 2em;
  border-radius: 50%;
  border: 2px solid transparent;
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  @include short-transition(border-color color background-color);

  & > span,
  & > i {
    display: flex;
  }
}

.c-step__icon--waiting {
  border-color: $color-brand-primary;
  color: $color-brand-primary;
  background: var(--color-primary);
}

.c-step__icon--locked {
  border-color: var(--font-color);
  color: var(--font-color);
  background: var(--color-primary);
}

.c-step__icon--completed {
  border-color: $color-success;
  background: $color-success;
  color: $color-primary-light;
}

.c-step__content {
  flex-grow: 1;
}

.c-step__content-expander {
  @include double-border-radius();
  @include short-transition(border-color background-color);
  border: 2px solid transparent;
  width: calc(100% + 1em + 1px);
  margin-left: calc(-1em - 1px);
  padding: $inuit-global-spacing-unit;
  padding-left: calc(#{$inuit-global-spacing-unit} + 1em - 1px);
}

.c-step__content-expander--waiting {
  border-color: $color-brand-primary;
  background: transparentize($color-brand-primary, 0.9);
}

.c-step__content-expander--locked {
  border-color: var(--font-color);
}

.c-step__content-expander--completed {
  border-color: $color-success;
  background: transparentize($color-success, 0.8);
}

.c-step__title {
  @include short-transition(color);
  margin-bottom: $inuit-global-spacing-unit-small;
  display: flex;
  align-items: center;
}

.c-step__title--completed {
  color: $color-success;
}

.c-step__title-text {
  flex-grow: 1;
}

.c-step__title-icon {
  @include short-transition(color);
  text-align: right;

  & > i {
    display: flex;
    font-size: 1.3em;
  }
}

.c-step__title-icon--waiting {
  & > i {
    color: $color-brand-primary;
  }
}

.c-step__description {
  @include short-transition(color);
  margin-bottom: 0;
}

.c-step__description--completed {
  color: $color-success;
}
