.c-modal-container {
  margin: auto;
  display: flex;
  justify-content: center;
  max-width: 100%;

  &--enter {
    opacity: 0;
    transform: translateY(-2em);
    @include short-transition(opacity transform);
    transition-delay: 200ms;
    transition-timing-function: ease-in;
  }

  &--enter-active {
    opacity: 1;
    transform: translateY(0);
  }
}

.c-modal-container__content {
  position: relative;
  background: var(--color-primary);
  padding: 3em;
  max-width: 100%;
  @include border-radius();
  @include short-shadow();
}

.c-modal-container__content--s {
  width: 20em;
}

.c-modal-container__content--m {
  width: 40em;
}

.c-modal-container__content--l {
  width: 60em;
}

.c-modal-container__content--xl {
  width: 80em;
}

.c-modal-container__content--create-new-order {
  &:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url("/images/trade.png") no-repeat 40% 80%;
    opacity: 0.3;
    filter: blur(1px);

    .g-theme--dark & {
      opacity: 0.1;
    }
  }
}

.c-modal-container__close {
  border-radius: 50%;
  position: absolute;
  top: -1.375rem;
  right: -1.375rem;
  cursor: pointer;
  background: var(--color-primary);
  display: flex;
  padding: 0.75rem;
  border: 2px solid var(--color-secondary);
  @include focus-outline();
}

.c-modal-container__close-icon {
  display: flex;
  @include brand-gradient-text();
}
