.c-demo-progress {
  position: relative;
}

.c-demo-progress--highlight {
  &:before {
    display: block;
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    margin-top: -2.25em;
    margin-left: -2.25em;
    pointer-events: none;
    width: 4.5em;
    height: 4.5em;
    border-radius: 50%;
    background: $color-brand-secondary;
    animation: highlight-scale 2000ms ease-out infinite;
    transform-origin: center;

    @include mq($from: m) {
      width: 8em;
      height: 8em;
      margin-top: -4em;
      margin-left: -4em;
    }

    @include mq($from: l) {
      width: 11em;
      height: 11em;
      margin-top: -5.5em;
      margin-left: -5.5em;
    }

    @keyframes highlight-scale {
      0% {
        transform: scale(0);
        opacity: 0.7;
      }
      20% {
        transform: scale(0);
        opacity: 0.7;
      }

      70% {
        transform: scale(1);
        opacity: 0;
      }

      100% {
        transform: scale(1);
        opacity: 0;
      }
    }
  }
}
