.c-order-info {
  margin-bottom: 0.75em;

  &:last-child {
    margin-bottom: 0;
  }
}

.c-order-info__label {
  font-size: 0.9em;
  font-weight: bold;
}

.c-order-info__value {
  margin-bottom: 0;
}
