.c-modal-welcome__background {
  background: var(--color-primary) url("/images/welcome.png") top center
    no-repeat;
  background-size: 100% auto;
}

.c-modal-welcome__title {
  color: $color-primary-light;
  margin: 1.5em 0 2.5em;
  text-transform: uppercase;

  @include mq($from: s) {
    margin: 3em 0 4em;
  }

  @include mq($from: m) {
    margin: 4em 0 3em;
  }

  & > .to {
    display: none;

    @include mq($from: s) {
      display: inline;
    }
  }

  & > .new-line {
    display: none;

    @include mq($from: s) {
      display: block;
    }
  }

  & > .safeotc {
    display: none;

    @include mq($from: s) {
      display: inline;
    }
  }
}
