.c-alerts {
  position: fixed;
  left: 100%;
  bottom: 6rem;
  padding: 0em 2rem;
  list-style: none;
  margin: 0;
  width: 35rem;
  max-width: 100%;
  z-index: $z-index-alerts;

  @include mq($from: m) {
    bottom: 2.5em;
  }
}

.c-alerts__item {
  position: relative;
  left: calc(-100% - 4em);
  margin-bottom: 1em;
  @include short-transition(opacity);

  @include mq($from: m) {
    left: calc(-100% - 4.5em);
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--enter {
    opacity: 0;
  }

  &--enter-active,
  &--exit {
    opacity: 1;
  }

  &--exit-active {
    opacity: 0;
  }
}
