.c-input {
  position: relative;
  color: var(--font-color);
}

.c-input__field {
  color: inherit;
  display: block;
  width: 100%;
  background: var(--color-primary);
  border: none;
  padding: 1rem;
  font-size: $input-font-size;
  line-height: $input-line-height;
  outline: none;
  box-shadow: 0px 0px 0px 1px var(--color-tertiary) inset;
  @include short-transition(background-color box-shadow);
  @include border-radius();

  &::placeholder {
    color: var(--color-tertiary);
    font-family: $font-family;
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px $color-focus inset;
  }
}

/*
focus definition couple of lines above should take
precedance because of greater specificity
*/
.c-input__field--danger {
  box-shadow: 0px 0px 0px 2px $color-danger inset;
}

.c-input__field--with-left-icon {
  padding-left: 3rem;
}

.c-input__field--with-right-icon {
  padding-right: 3rem;
}

.c-input__left-icon,
.c-input__right-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-tertiary);

  & > *,
  & > div > * {
    display: block;
    line-height: 1;
  }
}

.c-input__left-icon {
  left: 1em;
}

.c-input__right-icon {
  right: 1em;
  width: 1em;
  text-align: center;
}

.c-input__clear-text-icon {
  @include focus-outline();
  font-size: 0.75em;
  cursor: pointer;
}

.c-input__info {
  margin-left: $inuit-global-spacing-unit-small;
  display: inline-flex;
  transform: translateY(2px);
  color: $color-brand-secondary;
}
