$border-radius-content-wrapper: 20px;
$border-radius: 6px;

$mobile-taskbar-height: 4.5rem;

$content-mobile-spacing: 2em;
$content-desktop-spacing: 3em;

$color-brand-primary: #008be1;
$color-brand-secondary: #00e0b2;
$color-focus: $color-brand-primary;
$color-primary-light: #ffffff;
$color-primary-dark: #1c2639;
$color-secondary-light: #f5f5f5;
$color-secondary-dark: #0c182c;
$color-tertiary-light: #9f9f9f;
$color-tertiary-dark: darken($color-tertiary-light, 20%);
$color-background-light: linear-gradient(
  30deg,
  $color-brand-primary,
  $color-brand-secondary
);
$color-background-dark: linear-gradient(
  30deg,
  darken($color-brand-primary, 10%),
  darken($color-brand-secondary, 10%)
);
$color-success: #2caa8b;
$color-warning: #ffe696;
$color-info: #78b4ff;
$color-danger: #db4f5c;

$select-option-highlighted-font-color: $color-primary-light;
$select-option-focused-background-color: transparentize($color-focus, 0.3);
$select-option-selected-background-color: transparentize($color-focus, 0.8);

$font-color-light: #333333;
$font-color-dark: darken(#ffffff, 20%);
$font-family: Quicksand, sans-serif; /*-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
$font-size: clamp(
  #{($inuit-global-font-size / 16px) * 0.75em},
  3vw,
  #{($inuit-global-font-size / 16px) * 1em}
);

$container-lr-padding: $inuit-global-spacing-unit;
$container-max-width: map-get($mq-breakpoints, xxl);

$button-tb-padding: 0.5em;
$button-lr-padding: 1em;
$button-icon-only-lr-padding: 0.75em;
$button-border-width: 2px;

$z-index-create-new-order: 1;
$z-index-header-wallet-theme: 2;
$z-index-modal: 3;
$z-index-alerts: 4;
$z-index-confetti: 5;

$input-font-size: 0.9em;
$input-line-height: 1.15;

$light-theme: (
  font-color: $font-color-light,
  color-primary: $color-primary-light,
  color-secondary: $color-secondary-light,
  color-tertiary: $color-tertiary-light,
  background-color: $color-background-light,
  button-colored: $color-background-light,
  button-colored-hover: $color-background-dark,
  button-neutral: $color-tertiary-light,
  button-neutral-hover: $color-tertiary-dark,
  button-danger: $color-danger,
  button-danger-hover: $color-danger,
);

$dark-theme: (
  font-color: $font-color-dark,
  color-primary: $color-primary-dark,
  color-secondary: $color-secondary-dark,
  color-tertiary: $color-tertiary-dark,
  background-color: $color-background-dark,
  button-colored: $color-background-dark,
  button-colored-hover: $color-background-light,
  button-neutral: $color-tertiary-dark,
  button-neutral-hover: $color-tertiary-light,
  button-danger: $color-danger,
  button-danger-hover: $color-danger,
);
