.o-content-wrapper {
  display: flex;
  justify-content: center;
  @include mq($from: s) {
    margin: 2.5em 5em;
  }

  @include mq($from: l) {
    margin: 5 10em;
  }
}

.o-content-wrapper__container {
  @include short-transition(background-color box-shadow);
  min-height: 100vh;
  box-shadow: 0px 0px 50px 10px var(--color-content-container-shadow);
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  max-width: 1800px;

  @include mq($from: s) {
    min-height: 0;
  }
}

.o-content-wrapper__navigation {
  background: var(--color-primary);
}

.o-content-wrapper__content {
  background: var(--color-secondary);
  flex-grow: 1;
}
