.o-box {
  background: var(--color-primary);
  @include short-transition(background-color);
  @include border-radius();
  padding: $content-mobile-spacing;

  @include mq($from: l) {
    padding: $content-desktop-spacing;
  }
}
