.o-order {
  display: grid;
  grid-template-areas:
    "title"
    "info"
    "contract-state"
    "actions"
    "history";

  @include mq($from: m) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "title title"
      "info contract-state"
      "info actions"
      "history history";
    column-gap: $content-mobile-spacing;
  }

  @include mq($from: l) {
    column-gap: $content-desktop-spacing;
  }

  @include mq($from: xl) {
    grid-template-columns: 4fr 3fr;
  }

  @include mq($from: xxl) {
    grid-template-columns: 5fr 3fr;
  }
}

.o-order__title {
  grid-area: title;
  min-width: 0;
  margin-bottom: $content-mobile-spacing;

  @include mq($from: l) {
    margin-bottom: $content-desktop-spacing;
  }
}

.o-order__subtitle {
  display: block;
  margin-bottom: 1em;

  & > h3 {
    display: inline-block;
    margin-bottom: 0;
  }
}

.o-order__info {
  grid-area: info;
  margin-bottom: $content-mobile-spacing;

  @include mq($from: l) {
    margin-bottom: $content-desktop-spacing;
  }
}

.o-order__contract-state {
  grid-area: contract-state;
  margin-bottom: $content-mobile-spacing;

  @include mq($from: l) {
    margin-bottom: $content-desktop-spacing;
  }
}

.o-order__actions {
  grid-area: actions;
  margin-bottom: $content-mobile-spacing;

  @include mq($from: l) {
    margin-bottom: $content-desktop-spacing;
  }
}

.o-order__history {
  grid-area: history;
}
