.o-side {
  position: sticky;
  padding: $content-mobile-spacing 0;
  top: 0;
  max-height: 100vh;
  overflow: auto;

  @include mq($from: s) {
    max-height: none;
    overflow: visible;
  }

  @include mq($from: l) {
    padding: $content-desktop-spacing 0;
  }
}
