.o-side {
  position: sticky;
  padding: $content-mobile-spacing 0;
  top: 0;
  max-height: calc(100vh - #{$mobile-taskbar-height});
  overflow: auto;

  @include mq($from: m) {
    max-height: none;
    overflow: visible;
  }

  @include mq($from: l) {
    padding: $content-desktop-spacing 0;
  }
}
